*.o
*.d
a.out
fixed
zombie
brain
weapon
sed
*.replace
*.txt
claptrap
fragtrap
animal
pedago
scavtrap
diamondtrap
intern
bureaucrat
form
28b
*_shrubbery
scalarconverter
serilizer
base
whatever
iter
array
easyfind